# Python Class notes

## Lists: ##

* A collection of elements
* We can temporarily change a list with concatenation or slicing, but these will not permanetly modify the list

In [1]:
l = [1,2,3]

In [2]:
len(l)

3

In [3]:
l + [4]

[1, 2, 3, 4]

In [4]:
l[1:]

[2, 3]

- We can permantely change a list by doing append and remove

In [5]:
l.append(4)

In [6]:
l

[1, 2, 3, 4]

* It is important to note that .pop() will remove the last value of the list, unless otherwise it is especify

In [7]:
l.pop()

4

In [8]:
l

[1, 2, 3]

## List like things:

In [9]:
range(10)

range(0, 10)

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Tuples:

* It's a collection of elements, like a list, but you cannot make changes to the elements in the list once the tuple is created
* We can manipulate tuples like a list, as long as it doesn't change the contents

In [17]:
my_tuple = (1,2,3)

In [18]:
my_tuple[1]

2

## When to use a tuple vs a list?

Lists are better when you don't know what the length of the list will be or if you will have the same types of values 

Tuples are better when you know exacly the length of the list, and know that the length won't change. Tuples can store different types of values together

## Dictionaries

* Used to represent records
* The order doesn't matter as much because we have keys, which we relay on for accessing dictionaries

In [19]:
meal = {'type': 'breakfast', 'contents': 'oatmeal and blueberries', 'beverage': 'coffe'}

In [20]:
meal

{'type': 'breakfast',
 'contents': 'oatmeal and blueberries',
 'beverage': 'coffe'}

In [22]:
meal['beverage']

'coffe'

We can add new values to a dictionary, as well as new keys with associated values

In [23]:
meal['price'] = 9.99

In [24]:
meal

{'type': 'breakfast',
 'contents': 'oatmeal and blueberries',
 'beverage': 'coffe',
 'price': 9.99}

We can also use operators to change the values inside a dictionary

In [25]:
meal['price'] *= 2

In [26]:
meal

{'type': 'breakfast',
 'contents': 'oatmeal and blueberries',
 'beverage': 'coffe',
 'price': 19.98}

There are multiple ways to create a dictionary - there is no best way to do it, but it is recommended to write it like the example above (which is the literal format)

We can use the 'dict' function:

In [27]:
dict(x = 123, y = 456, z = 789)

{'x': 123, 'y': 456, 'z': 789}

Or we can create a dictionary by creating an empty dict, and then adding new keys and values one by one:

In [28]:
new_dict = {}

In [29]:
new_dict['type'] = 'breakfast'

In [30]:
new_dict

{'type': 'breakfast'}

## Nested Dictionaries

* While in traditional dictionaries each key can only hold one value, we can created nested dictionaries to house lists within keys. This means that you can product many dictionaries within dictionaries

In [31]:
nest_dict = {'type': 'breakfast' , 'ingredients': {'fruit': 'blueberrys', 'carbs': 'oats'}, 'price': '9.99'}

In [33]:
nest_dict

{'type': 'breakfast',
 'ingredients': {'fruit': 'blueberrys', 'carbs': 'oats'},
 'price': '9.99'}

In [36]:
nest_dict['ingredients']['fruit']

'blueberrys'

## List Comprehension:

* A way to specify a manipulation of an element in a different collection
* We can create new lists using a range

* We can think of these as a SQL query, where: 

[x = SELECT
for x in = FROM
if cond = WHERE]

In [37]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can also use operators to affect the list and we can use operators to compare values and influence the output

In [38]:
[x + 1 for x in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
[x + 1 for x in range(10) if x < 7]

[1, 2, 3, 4, 5, 6, 7]

double numbers less than 5

In [45]:
[x * 2 for x in range(10) if x > 5]

[12, 14, 16, 18]

half all odd numbers

In [46]:
[x * .5 for x in range(10) if x % 2 != 0]

[0.5, 1.5, 2.5, 3.5, 4.5]

add three to the even numbers less than 7

In [47]:
[x + 3 for x in range(10) if x % 2 == 0 and x < 7]

[3, 5, 7, 9]

In [52]:
cohorts = [
    {'name': 'Ada', 'n_students': 17, 'coolness': 4},
    {'name': 'Bayes', 'n_students': 20, 'coolness': 5},
    {'name': 'Curie', 'n_students': 17, 'coolness': 80}
]

In [53]:
cohorts

[{'name': 'Ada', 'n_students': 17, 'coolness': 4},
 {'name': 'Bayes', 'n_students': 20, 'coolness': 5},
 {'name': 'Curie', 'n_students': 17, 'coolness': 80}]

Name of the cohorts cooler than Ada

In [50]:
[cohort['name'] for cohort in cohorts]

['Ada', 'Bayes', 'Curie']

In [66]:
[cohort['name'] for cohort in cohorts if cohort['coolness'] >= 5]

['Bayes', 'Curie']

Programatic way to do it

In [56]:
[cohort for cohort in cohorts if cohort['name'] == 'Bayes']

[{'name': 'Bayes', 'n_students': 20, 'coolness': 5}]

In [60]:
[cohort['coolness'] for cohort in cohorts if cohort['name'] == 'Bayes']

[5]

In [98]:
bayes_coolness = [cohort['coolness'] for cohort in cohorts if cohort['name'] == 'Bayes'][0]

In [99]:
bayes_coolness

5

In [100]:
[cohort['name'] for cohort in cohorts if cohort['coolness'] >= bayes_coolness]

['Bayes', 'Curie']

How do we find the average number of students?

In [68]:
n_by_cohort = [cohort['n_students'] for cohort in cohorts]

In [69]:
n_by_cohort

[17, 20, 17]

In [70]:
sum(n_by_cohort) / len(n_by_cohort)

18.0

Which right triangle with integer sides <= 10 and perimeter of 24

In [77]:
[(a, b, b) for a in range(1,11) for b in range(1,11) for c in range(1,11)]

[(1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 1, 1),
 (1, 2, 2),
 (1, 2, 2),
 (1, 2, 2),
 (1, 2, 2),
 (1, 2, 2),
 (1, 2, 2),
 (1, 2, 2),
 (1, 2, 2),
 (1, 2, 2),
 (1, 2, 2),
 (1, 3, 3),
 (1, 3, 3),
 (1, 3, 3),
 (1, 3, 3),
 (1, 3, 3),
 (1, 3, 3),
 (1, 3, 3),
 (1, 3, 3),
 (1, 3, 3),
 (1, 3, 3),
 (1, 4, 4),
 (1, 4, 4),
 (1, 4, 4),
 (1, 4, 4),
 (1, 4, 4),
 (1, 4, 4),
 (1, 4, 4),
 (1, 4, 4),
 (1, 4, 4),
 (1, 4, 4),
 (1, 5, 5),
 (1, 5, 5),
 (1, 5, 5),
 (1, 5, 5),
 (1, 5, 5),
 (1, 5, 5),
 (1, 5, 5),
 (1, 5, 5),
 (1, 5, 5),
 (1, 5, 5),
 (1, 6, 6),
 (1, 6, 6),
 (1, 6, 6),
 (1, 6, 6),
 (1, 6, 6),
 (1, 6, 6),
 (1, 6, 6),
 (1, 6, 6),
 (1, 6, 6),
 (1, 6, 6),
 (1, 7, 7),
 (1, 7, 7),
 (1, 7, 7),
 (1, 7, 7),
 (1, 7, 7),
 (1, 7, 7),
 (1, 7, 7),
 (1, 7, 7),
 (1, 7, 7),
 (1, 7, 7),
 (1, 8, 8),
 (1, 8, 8),
 (1, 8, 8),
 (1, 8, 8),
 (1, 8, 8),
 (1, 8, 8),
 (1, 8, 8),
 (1, 8, 8),
 (1, 8, 8),
 (1, 8, 8),
 (1, 9, 9),
 (1, 9, 9),
 (1, 9, 9),
 (1, 9, 9),
 (1, 9, 9),
 (1, 9, 9),
 (1, 9, 9),
 (1, 9, 9),
 (1, 9, 9),
 (1, 9, 9),
 (1, 10, 10),
 (1, 10, 10),
 (1, 10, 10),
 (1, 10, 10),
 (1, 10, 10),
 (1, 10, 10),
 (1, 10, 10),
 (1, 10, 10),
 (1, 10, 10),
 (1, 10, 10),
 (2, 1, 1),
 (2, 1, 1),
 (2, 1, 1),
 (2, 1, 1),
 (2, 1, 1),
 (2, 1, 1),
 (2, 1, 1),
 (2, 1, 1),
 (2, 1, 1),
 (2, 1, 1),
 (2, 2, 2),
 (2, 2, 2),
 (2, 2, 2),
 (2, 2, 2),
 (2, 2, 2),
 (2, 2, 2),
 (2, 2, 2),
 (2, 2, 2),
 (2, 2, 2),
 (2, 2, 2),
 (2, 3, 3),
 (2, 3, 3),
 (2, 3, 3),
 (2, 3, 3),
 (2, 3, 3),
 (2, 3, 3),
 (2, 3, 3),
 (2, 3, 3),
 (2, 3, 3),
 (2, 3, 3),
 (2, 4, 4),
 (2, 4, 4),
 (2, 4, 4),
 (2, 4, 4),
 (2, 4, 4),
 (2, 4, 4),
 (2, 4, 4),
 (2, 4, 4),
 (2, 4, 4),
 (2, 4, 4),
 (2, 5, 5),
 (2, 5, 5),
 (2, 5, 5),
 (2, 5, 5),
 (2, 5, 5),
 (2, 5, 5),
 (2, 5, 5),
 (2, 5, 5),
 (2, 5, 5),
 (2, 5, 5),
 (2, 6, 6),
 (2, 6, 6),
 (2, 6, 6),
 (2, 6, 6),
 (2, 6, 6),
 (2, 6, 6),
 (2, 6, 6),
 (2, 6, 6),
 (2, 6, 6),
 (2, 6, 6),
 (2, 7, 7),
 (2, 7, 7),
 (2, 7, 7),
 (2, 7, 7),
 (2, 7, 7),
 (2, 7, 7),
 (2, 7, 7),
 (2, 7, 7),
 (2, 7, 7),
 (2, 7, 7),
 (2, 8, 8),
 (2, 8, 8),
 (2, 8, 8),
 (2, 8, 8),
 (2, 8, 8),
 (2, 8, 8),
 (2, 8, 8),
 (2, 8, 8),
 (2, 8, 8),
 (2, 8, 8),
 (2, 9, 9),
 (2, 9, 9),
 (2, 9, 9),
 (2, 9, 9),
 (2, 9, 9),
 (2, 9, 9),
 (2, 9, 9),
 (2, 9, 9),
 (2, 9, 9),
 (2, 9, 9),
 (2, 10, 10),
 (2, 10, 10),
 (2, 10, 10),
 (2, 10, 10),
 (2, 10, 10),
 (2, 10, 10),
 (2, 10, 10),
 (2, 10, 10),
 (2, 10, 10),
 (2, 10, 10),
 (3, 1, 1),
 (3, 1, 1),
 (3, 1, 1),
 (3, 1, 1),
 (3, 1, 1),
 (3, 1, 1),
 (3, 1, 1),
 (3, 1, 1),
 (3, 1, 1),
 (3, 1, 1),
 (3, 2, 2),
 (3, 2, 2),
 (3, 2, 2),
 (3, 2, 2),
 (3, 2, 2),
 (3, 2, 2),
 (3, 2, 2),
 (3, 2, 2),
 (3, 2, 2),
 (3, 2, 2),
 (3, 3, 3),
 (3, 3, 3),
 (3, 3, 3),
 (3, 3, 3),
 (3, 3, 3),
 (3, 3, 3),
 (3, 3, 3),
 (3, 3, 3),
 (3, 3, 3),
 (3, 3, 3),
 (3, 4, 4),
 (3, 4, 4),
 (3, 4, 4),
 (3, 4, 4),
 (3, 4, 4),
 (3, 4, 4),
 (3, 4, 4),
 (3, 4, 4),
 (3, 4, 4),
 (3, 4, 4),
 (3, 5, 5),
 (3, 5, 5),
 (3, 5, 5),
 (3, 5, 5),
 (3, 5, 5),
 (3, 5, 5),
 (3, 5, 5),
 (3, 5, 5),
 (3, 5, 5),
 (3, 5, 5),
 (3, 6, 6),
 (3, 6, 6),
 (3, 6, 6),
 (3, 6, 6),
 (3, 6, 6),
 (3, 6, 6),
 (3, 6, 6),
 (3, 6, 6),
 (3, 6, 6),
 (3, 6, 6),
 (3, 7, 7),
 (3, 7, 7),
 (3, 7, 7),
 (3, 7, 7),
 (3, 7, 7),
 (3, 7, 7),
 (3, 7, 7),
 (3, 7, 7),
 (3, 7, 7),
 (3, 7, 7),
 (3, 8, 8),
 (3, 8, 8),
 (3, 8, 8),
 (3, 8, 8),
 (3, 8, 8),
 (3, 8, 8),
 (3, 8, 8),
 (3, 8, 8),
 (3, 8, 8),
 (3, 8, 8),
 (3, 9, 9),
 (3, 9, 9),
 (3, 9, 9),
 (3, 9, 9),
 (3, 9, 9),
 (3, 9, 9),
 (3, 9, 9),
 (3, 9, 9),
 (3, 9, 9),
 (3, 9, 9),
 (3, 10, 10),
 (3, 10, 10),
 (3, 10, 10),
 (3, 10, 10),
 (3, 10, 10),
 (3, 10, 10),
 (3, 10, 10),
 (3, 10, 10),
 (3, 10, 10),
 (3, 10, 10),
 (4, 1, 1),
 (4, 1, 1),
 (4, 1, 1),
 (4, 1, 1),
 (4, 1, 1),
 (4, 1, 1),
 (4, 1, 1),
 (4, 1, 1),
 (4, 1, 1),
 (4, 1, 1),
 (4, 2, 2),
 (4, 2, 2),
 (4, 2, 2),
 (4, 2, 2),
 (4, 2, 2),
 (4, 2, 2),
 (4, 2, 2),
 (4, 2, 2),
 (4, 2, 2),
 (4, 2, 2),
 (4, 3, 3),
 (4, 3, 3),
 (4, 3, 3),
 (4, 3, 3),
 (4, 3, 3),
 (4, 3, 3),
 (4, 3, 3),
 (4, 3, 3),
 (4, 3, 3),
 (4, 3, 3),
 (4, 4, 4),
 (4, 4, 4),
 (4, 4, 4),
 (4, 4, 4),
 (4, 4, 4),
 (4, 4, 4),
 (4, 4, 4),
 (4, 4, 4),
 (4, 4, 4),
 (4, 4, 4),
 (4, 5, 5),
 (4, 5, 5),
 (4, 5, 5),
 (4, 5, 5),
 (4, 5, 5),
 (4, 5, 5),
 (4, 5, 5),
 (4, 5, 5),
 (4, 5, 5),
 (4, 5, 5),
 (4, 6, 6),
 (4, 6, 6),
 (4, 6, 6),
 (4, 6, 6),
 (4, 6, 6),
 (4, 6, 6),
 (4, 6, 6),
 (4, 6, 6),
 (4, 6, 6),
 (4, 6, 6),
 (4, 7, 7),
 (4, 7, 7),
 (4, 7, 7),
 (4, 7, 7),
 (4, 7, 7),
 (4, 7, 7),
 (4, 7, 7),
 (4, 7, 7),
 (4, 7, 7),
 (4, 7, 7),
 (4, 8, 8),
 (4, 8, 8),
 (4, 8, 8),
 (4, 8, 8),
 (4, 8, 8),
 (4, 8, 8),
 (4, 8, 8),
 (4, 8, 8),
 (4, 8, 8),
 (4, 8, 8),
 (4, 9, 9),
 (4, 9, 9),
 (4, 9, 9),
 (4, 9, 9),
 (4, 9, 9),
 (4, 9, 9),
 (4, 9, 9),
 (4, 9, 9),
 (4, 9, 9),
 (4, 9, 9),
 (4, 10, 10),
 (4, 10, 10),
 (4, 10, 10),
 (4, 10, 10),
 (4, 10, 10),
 (4, 10, 10),
 (4, 10, 10),
 (4, 10, 10),
 (4, 10, 10),
 (4, 10, 10),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 1, 1),
 (5, 2, 2),
 (5, 2, 2),
 (5, 2, 2),
 (5, 2, 2),
 (5, 2, 2),
 (5, 2, 2),
 (5, 2, 2),
 (5, 2, 2),
 (5, 2, 2),
 (5, 2, 2),
 (5, 3, 3),
 (5, 3, 3),
 (5, 3, 3),
 (5, 3, 3),
 (5, 3, 3),
 (5, 3, 3),
 (5, 3, 3),
 (5, 3, 3),
 (5, 3, 3),
 (5, 3, 3),
 (5, 4, 4),
 (5, 4, 4),
 (5, 4, 4),
 (5, 4, 4),
 (5, 4, 4),
 (5, 4, 4),
 (5, 4, 4),
 (5, 4, 4),
 (5, 4, 4),
 (5, 4, 4),
 (5, 5, 5),
 (5, 5, 5),
 (5, 5, 5),
 (5, 5, 5),
 (5, 5, 5),
 (5, 5, 5),
 (5, 5, 5),
 (5, 5, 5),
 (5, 5, 5),
 (5, 5, 5),
 (5, 6, 6),
 (5, 6, 6),
 (5, 6, 6),
 (5, 6, 6),
 (5, 6, 6),
 (5, 6, 6),
 (5, 6, 6),
 (5, 6, 6),
 (5, 6, 6),
 (5, 6, 6),
 (5, 7, 7),
 (5, 7, 7),
 (5, 7, 7),
 (5, 7, 7),
 (5, 7, 7),
 (5, 7, 7),
 (5, 7, 7),
 (5, 7, 7),
 (5, 7, 7),
 (5, 7, 7),
 (5, 8, 8),
 (5, 8, 8),
 (5, 8, 8),
 (5, 8, 8),
 (5, 8, 8),
 (5, 8, 8),
 (5, 8, 8),
 (5, 8, 8),
 (5, 8, 8),
 (5, 8, 8),
 (5, 9, 9),
 (5, 9, 9),
 (5, 9, 9),
 (5, 9, 9),
 (5, 9, 9),
 (5, 9, 9),
 (5, 9, 9),
 (5, 9, 9),
 (5, 9, 9),
 (5, 9, 9),
 (5, 10, 10),
 (5, 10, 10),
 (5, 10, 10),
 (5, 10, 10),
 (5, 10, 10),
 (5, 10, 10),
 (5, 10, 10),
 (5, 10, 10),
 (5, 10, 10),
 (5, 10, 10),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 1),
 (6, 1, 1),
 (6, 2, 2),
 (6, 2, 2),
 (6, 2, 2),
 (6, 2, 2),
 (6, 2, 2),
 (6, 2, 2),
 (6, 2, 2),
 (6, 2, 2),
 (6, 2, 2),
 (6, 2, 2),
 (6, 3, 3),
 (6, 3, 3),
 (6, 3, 3),
 (6, 3, 3),
 (6, 3, 3),
 (6, 3, 3),
 (6, 3, 3),
 (6, 3, 3),
 (6, 3, 3),
 (6, 3, 3),
 (6, 4, 4),
 (6, 4, 4),
 (6, 4, 4),
 (6, 4, 4),
 (6, 4, 4),
 (6, 4, 4),
 (6, 4, 4),
 (6, 4, 4),
 (6, 4, 4),
 (6, 4, 4),
 (6, 5, 5),
 (6, 5, 5),
 (6, 5, 5),
 (6, 5, 5),
 (6, 5, 5),
 (6, 5, 5),
 (6, 5, 5),
 (6, 5, 5),
 (6, 5, 5),
 (6, 5, 5),
 (6, 6, 6),
 (6, 6, 6),
 (6, 6, 6),
 (6, 6, 6),
 (6, 6, 6),
 (6, 6, 6),
 (6, 6, 6),
 (6, 6, 6),
 (6, 6, 6),
 (6, 6, 6),
 (6, 7, 7),
 (6, 7, 7),
 (6, 7, 7),
 (6, 7, 7),
 (6, 7, 7),
 (6, 7, 7),
 (6, 7, 7),
 (6, 7, 7),
 (6, 7, 7),
 (6, 7, 7),
 (6, 8, 8),
 (6, 8, 8),
 (6, 8, 8),
 (6, 8, 8),
 (6, 8, 8),
 (6, 8, 8),
 (6, 8, 8),
 (6, 8, 8),
 (6, 8, 8),
 (6, 8, 8),
 (6, 9, 9),
 (6, 9, 9),
 (6, 9, 9),
 (6, 9, 9),
 (6, 9, 9),
 (6, 9, 9),
 (6, 9, 9),
 (6, 9, 9),
 (6, 9, 9),
 (6, 9, 9),
 (6, 10, 10),
 (6, 10, 10),
 (6, 10, 10),
 (6, 10, 10),
 (6, 10, 10),
 (6, 10, 10),
 (6, 10, 10),
 (6, 10, 10),
 (6, 10, 10),
 (6, 10, 10),
 (7, 1, 1),
 (7, 1, 1),
 (7, 1, 1),
 (7, 1, 1),
 (7, 1, 1),
 (7, 1, 1),
 (7, 1, 1),
 (7, 1, 1),
 (7, 1, 1),
 (7, 1, 1),
 (7, 2, 2),
 (7, 2, 2),
 (7, 2, 2),
 (7, 2, 2),
 (7, 2, 2),
 (7, 2, 2),
 (7, 2, 2),
 (7, 2, 2),
 (7, 2, 2),
 (7, 2, 2),
 (7, 3, 3),
 (7, 3, 3),
 (7, 3, 3),
 (7, 3, 3),
 (7, 3, 3),
 (7, 3, 3),
 (7, 3, 3),
 (7, 3, 3),
 (7, 3, 3),
 (7, 3, 3),
 (7, 4, 4),
 (7, 4, 4),
 (7, 4, 4),
 (7, 4, 4),
 (7, 4, 4),
 (7, 4, 4),
 (7, 4, 4),
 (7, 4, 4),
 (7, 4, 4),
 (7, 4, 4),
 (7, 5, 5),
 (7, 5, 5),
 (7, 5, 5),
 (7, 5, 5),
 (7, 5, 5),
 (7, 5, 5),
 (7, 5, 5),
 (7, 5, 5),
 (7, 5, 5),
 (7, 5, 5),
 (7, 6, 6),
 (7, 6, 6),
 (7, 6, 6),
 (7, 6, 6),
 (7, 6, 6),
 (7, 6, 6),
 (7, 6, 6),
 (7, 6, 6),
 (7, 6, 6),
 (7, 6, 6),
 (7, 7, 7),
 (7, 7, 7),
 (7, 7, 7),
 (7, 7, 7),
 (7, 7, 7),
 (7, 7, 7),
 (7, 7, 7),
 (7, 7, 7),
 (7, 7, 7),
 (7, 7, 7),
 (7, 8, 8),
 (7, 8, 8),
 (7, 8, 8),
 (7, 8, 8),
 (7, 8, 8),
 (7, 8, 8),
 (7, 8, 8),
 (7, 8, 8),
 (7, 8, 8),
 (7, 8, 8),
 (7, 9, 9),
 (7, 9, 9),
 (7, 9, 9),
 (7, 9, 9),
 (7, 9, 9),
 (7, 9, 9),
 (7, 9, 9),
 (7, 9, 9),
 (7, 9, 9),
 (7, 9, 9),
 (7, 10, 10),
 (7, 10, 10),
 (7, 10, 10),
 (7, 10, 10),
 (7, 10, 10),
 (7, 10, 10),
 (7, 10, 10),
 (7, 10, 10),
 (7, 10, 10),
 (7, 10, 10),
 (8, 1, 1),
 (8, 1, 1),
 (8, 1, 1),
 (8, 1, 1),
 (8, 1, 1),
 (8, 1, 1),
 (8, 1, 1),
 (8, 1, 1),
 (8, 1, 1),
 (8, 1, 1),
 (8, 2, 2),
 (8, 2, 2),
 (8, 2, 2),
 (8, 2, 2),
 (8, 2, 2),
 (8, 2, 2),
 (8, 2, 2),
 (8, 2, 2),
 (8, 2, 2),
 (8, 2, 2),
 (8, 3, 3),
 (8, 3, 3),
 (8, 3, 3),
 (8, 3, 3),
 (8, 3, 3),
 (8, 3, 3),
 (8, 3, 3),
 (8, 3, 3),
 (8, 3, 3),
 (8, 3, 3),
 (8, 4, 4),
 (8, 4, 4),
 (8, 4, 4),
 (8, 4, 4),
 (8, 4, 4),
 (8, 4, 4),
 (8, 4, 4),
 (8, 4, 4),
 (8, 4, 4),
 (8, 4, 4),
 (8, 5, 5),
 (8, 5, 5),
 (8, 5, 5),
 (8, 5, 5),
 (8, 5, 5),
 (8, 5, 5),
 (8, 5, 5),
 (8, 5, 5),
 (8, 5, 5),
 (8, 5, 5),
 (8, 6, 6),
 (8, 6, 6),
 (8, 6, 6),
 (8, 6, 6),
 (8, 6, 6),
 (8, 6, 6),
 (8, 6, 6),
 (8, 6, 6),
 (8, 6, 6),
 (8, 6, 6),
 (8, 7, 7),
 (8, 7, 7),
 (8, 7, 7),
 (8, 7, 7),
 (8, 7, 7),
 (8, 7, 7),
 (8, 7, 7),
 (8, 7, 7),
 (8, 7, 7),
 (8, 7, 7),
 (8, 8, 8),
 (8, 8, 8),
 (8, 8, 8),
 (8, 8, 8),
 (8, 8, 8),
 (8, 8, 8),
 (8, 8, 8),
 (8, 8, 8),
 (8, 8, 8),
 (8, 8, 8),
 (8, 9, 9),
 (8, 9, 9),
 (8, 9, 9),
 (8, 9, 9),
 (8, 9, 9),
 (8, 9, 9),
 (8, 9, 9),
 (8, 9, 9),
 (8, 9, 9),
 (8, 9, 9),
 (8, 10, 10),
 (8, 10, 10),
 (8, 10, 10),
 (8, 10, 10),
 (8, 10, 10),
 (8, 10, 10),
 (8, 10, 10),
 (8, 10, 10),
 (8, 10, 10),
 (8, 10, 10),
 (9, 1, 1),
 (9, 1, 1),
 (9, 1, 1),
 (9, 1, 1),
 (9, 1, 1),
 (9, 1, 1),
 (9, 1, 1),
 (9, 1, 1),
 (9, 1, 1),
 (9, 1, 1),
 (9, 2, 2),
 (9, 2, 2),
 (9, 2, 2),
 (9, 2, 2),
 (9, 2, 2),
 (9, 2, 2),
 (9, 2, 2),
 (9, 2, 2),
 (9, 2, 2),
 (9, 2, 2),
 (9, 3, 3),
 (9, 3, 3),
 (9, 3, 3),
 (9, 3, 3),
 (9, 3, 3),
 (9, 3, 3),
 (9, 3, 3),
 (9, 3, 3),
 (9, 3, 3),
 (9, 3, 3),
 (9, 4, 4),
 (9, 4, 4),
 (9, 4, 4),
 (9, 4, 4),
 (9, 4, 4),
 (9, 4, 4),
 (9, 4, 4),
 (9, 4, 4),
 (9, 4, 4),
 (9, 4, 4),
 (9, 5, 5),
 (9, 5, 5),
 (9, 5, 5),
 (9, 5, 5),
 (9, 5, 5),
 (9, 5, 5),
 (9, 5, 5),
 (9, 5, 5),
 (9, 5, 5),
 (9, 5, 5),
 (9, 6, 6),
 (9, 6, 6),
 (9, 6, 6),
 (9, 6, 6),
 (9, 6, 6),
 (9, 6, 6),
 (9, 6, 6),
 (9, 6, 6),
 (9, 6, 6),
 (9, 6, 6),
 (9, 7, 7),
 (9, 7, 7),
 (9, 7, 7),
 (9, 7, 7),
 (9, 7, 7),
 (9, 7, 7),
 (9, 7, 7),
 (9, 7, 7),
 (9, 7, 7),
 (9, 7, 7),
 (9, 8, 8),
 (9, 8, 8),
 (9, 8, 8),
 (9, 8, 8),
 (9, 8, 8),
 (9, 8, 8),
 (9, 8, 8),
 (9, 8, 8),
 (9, 8, 8),
 (9, 8, 8),
 (9, 9, 9),
 (9, 9, 9),
 (9, 9, 9),
 (9, 9, 9),
 (9, 9, 9),
 (9, 9, 9),
 (9, 9, 9),
 (9, 9, 9),
 (9, 9, 9),
 (9, 9, 9),
 (9, 10, 10),
 (9, 10, 10),
 (9, 10, 10),
 (9, 10, 10),
 (9, 10, 10),
 (9, 10, 10),
 (9, 10, 10),
 (9, 10, 10),
 (9, 10, 10),
 (9, 10, 10),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 1, 1),
 (10, 2, 2),
 (10, 2, 2),
 (10, 2, 2),
 (10, 2, 2),
 (10, 2, 2),
 (10, 2, 2),
 (10, 2, 2),
 (10, 2, 2),
 (10, 2, 2),
 (10, 2, 2),
 (10, 3, 3),
 (10, 3, 3),
 (10, 3, 3),
 (10, 3, 3),
 (10, 3, 3),
 (10, 3, 3),
 (10, 3, 3),
 (10, 3, 3),
 (10, 3, 3),
 (10, 3, 3),
 (10, 4, 4),
 (10, 4, 4),
 (10, 4, 4),
 (10, 4, 4),
 (10, 4, 4),
 (10, 4, 4),
 (10, 4, 4),
 (10, 4, 4),
 (10, 4, 4),
 (10, 4, 4),
 (10, 5, 5),
 (10, 5, 5),
 (10, 5, 5),
 (10, 5, 5),
 (10, 5, 5),
 (10, 5, 5),
 (10, 5, 5),
 (10, 5, 5),
 (10, 5, 5),
 (10, 5, 5),
 (10, 6, 6),
 (10, 6, 6),
 (10, 6, 6),
 (10, 6, 6),
 (10, 6, 6),
 (10, 6, 6),
 (10, 6, 6),
 (10, 6, 6),
 (10, 6, 6),
 (10, 6, 6),
 (10, 7, 7),
 (10, 7, 7),
 (10, 7, 7),
 (10, 7, 7),
 (10, 7, 7),
 (10, 7, 7),
 (10, 7, 7),
 (10, 7, 7),
 (10, 7, 7),
 (10, 7, 7),
 (10, 8, 8),
 (10, 8, 8),
 (10, 8, 8),
 (10, 8, 8),
 (10, 8, 8),
 (10, 8, 8),
 (10, 8, 8),
 (10, 8, 8),
 (10, 8, 8),
 (10, 8, 8),
 (10, 9, 9),
 (10, 9, 9),
 (10, 9, 9),
 (10, 9, 9),
 (10, 9, 9),
 (10, 9, 9),
 (10, 9, 9),
 (10, 9, 9),
 (10, 9, 9),
 (10, 9, 9),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 10),
 (10, 10, 10)]

In [79]:
[(a, b, b) for a in range(1,11) for b in range(1,11) for c in range(1,11) if a**2 + b**2 == c**2]

[(3, 4, 4), (4, 3, 3), (6, 8, 8), (8, 6, 6)]

In [80]:
[(a, b, b) for a in range(1,11) for b in range(1,11) for c in range(1,11) if a**2 + b**2 == c**2 and a + b + c == 24]

[(6, 8, 8), (8, 6, 6)]

In [82]:
[(a, b, b) for a in range(1,11) for b in range(1,11) for c in range(1,11) if a**2 + b**2 == c**2 and a + b + c == 24 and a < b and b < c]

[(6, 8, 8)]

In [83]:
students = [
    {
"id": "100001",
"student": "Ada Lovelace",
"coffee_preference": "light",
"course": "web development",
"grades": [70, 91, 82, 71],
"pets": [{"species": "horse", "age": 8}],
    },
    {
"id": "100002",
"student": "Thomas Bayes",
"coffee_preference": "medium",
"course": "data science",
"grades": [75, 73, 86, 100],
"pets": [],
    },
    {
"id": "100003",
"student": "Marie Curie",
"coffee_preference": "light",
"course": "web development",
"grades": [70, 89, 69, 65],
"pets": [{"species": "cat", "age": 0}],
    },
    {
"id": "100004",
"student": "Grace Hopper",
"coffee_preference": "dark",
"course": "data science",
"grades": [73, 66, 83, 92],
"pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
"id": "100005",
"student": "Alan Turing",
"coffee_preference": "dark",
"course": "web development",
"grades": [78, 98, 85, 65],
"pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
"id": "100006",
"student": "Rosalind Franklin",
"coffee_preference": "dark",
"course": "data science",
"grades": [76, 70, 96, 81],
"pets": [],
    },
    {
"id": "100007",
"student": "Elizabeth Blackwell",
"coffee_preference": "dark",
"course": "web development",
"grades": [69, 94, 89, 86],
"pets": [{"species": "cat", "age": 10}],
    },
    {
"id": "100008",
"student": "Rene Descartes",
"coffee_preference": "medium",
"course": "data science",
"grades": [87, 79, 90, 99],
"pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
"id": "100009",
"student": "Ahmed Zewail",
"coffee_preference": "medium",
"course": "data science",
"grades": [74, 99, 93, 89],
"pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
"id": "100010",
"student": "Chien-Shiung Wu",
"coffee_preference": "medium",
"course": "web development",
"grades": [82, 92, 91, 65],
"pets": [{"species": "cat", "age": 8}],
    },
    {
"id": "100011",
"student": "William Sanford Nye",
"coffee_preference": "dark",
"course": "data science",
"grades": [70, 92, 65, 99],
"pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
"id": "100012",
"student": "Carl Sagan",
"coffee_preference": "medium",
"course": "data science",
"grades": [100, 86, 91, 87],
"pets": [{"species": "cat", "age": 10}],
    },
    {
"id": "100013",
"student": "Jane Goodall",
"coffee_preference": "light",
"course": "web development",
"grades": [80, 70, 68, 98],
"pets": [{"species": "horse", "age": 4}],
    },
    {
"id": "100014",
"student": "Richard Feynman",
"coffee_preference": "medium",
"course": "web development",
"grades": [73, 99, 86, 98],
"pets": [{"species": "dog", "age": 6}],
    },
]

In [84]:
students

[{'id': '100001',
  'student': 'Ada Lovelace',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 91, 82, 71],
  'pets': [{'species': 'horse', 'age': 8}]},
 {'id': '100002',
  'student': 'Thomas Bayes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [75, 73, 86, 100],
  'pets': []},
 {'id': '100003',
  'student': 'Marie Curie',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 89, 69, 65],
  'pets': [{'species': 'cat', 'age': 0}]},
 {'id': '100004',
  'student': 'Grace Hopper',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [73, 66, 83, 92],
  'pets': [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]},
 {'id': '100005',
  'student': 'Alan Turing',
  'coffee_preference': 'dark',
  'course': 'web development',
  'grades': [78, 98, 85, 65],
  'pets': [{'species': 'horse', 'age': 6},
   {'species': 'horse', 'age': 7},
   {'species': 'dog', 'age': 5}]},
 {'id': '100006',
  'student': 'Rosalind Franklin',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [76, 70, 96, 81],
  'pets': []},
 {'id': '100007',
  'student': 'Elizabeth Blackwell',
  'coffee_preference': 'dark',
  'course': 'web development',
  'grades': [69, 94, 89, 86],
  'pets': [{'species': 'cat', 'age': 10}]},
 {'id': '100008',
  'student': 'Rene Descartes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [87, 79, 90, 99],
  'pets': [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}]},
 {'id': '100009',
  'student': 'Ahmed Zewail',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [74, 99, 93, 89],
  'pets': [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}]},
 {'id': '100010',
  'student': 'Chien-Shiung Wu',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [82, 92, 91, 65],
  'pets': [{'species': 'cat', 'age': 8}]},
 {'id': '100011',
  'student': 'William Sanford Nye',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [70, 92, 65, 99],
  'pets': [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}]},
 {'id': '100012',
  'student': 'Carl Sagan',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [100, 86, 91, 87],
  'pets': [{'species': 'cat', 'age': 10}]},
 {'id': '100013',
  'student': 'Jane Goodall',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [80, 70, 68, 98],
  'pets': [{'species': 'horse', 'age': 4}]},
 {'id': '100014',
  'student': 'Richard Feynman',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [73, 99, 86, 98],
  'pets': [{'species': 'dog', 'age': 6}]}]

How can we find out how many students are in this list?

In [85]:
len(students)

14

In [86]:
students[:2]

[{'id': '100001',
  'student': 'Ada Lovelace',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 91, 82, 71],
  'pets': [{'species': 'horse', 'age': 8}]},
 {'id': '100002',
  'student': 'Thomas Bayes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [75, 73, 86, 100],
  'pets': []}]

How many pets, on avg, do people with a preferance for a light coffee have?

We are going to break this exercise down by first finding the number of students that like light coffee

In [87]:
[student for student in students if student['coffee_preference'] == 'light']

[{'id': '100001',
  'student': 'Ada Lovelace',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 91, 82, 71],
  'pets': [{'species': 'horse', 'age': 8}]},
 {'id': '100003',
  'student': 'Marie Curie',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 89, 69, 65],
  'pets': [{'species': 'cat', 'age': 0}]},
 {'id': '100013',
  'student': 'Jane Goodall',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [80, 70, 68, 98],
  'pets': [{'species': 'horse', 'age': 4}]}]

We can then find the number of pets a student has, to figure out how to actually calculate the number of pets. Once we find how to pull the record for one student, we can then try to apply it to the rest of the population

In [88]:
student = students[0]

In [89]:
len(student['pets'])

1

and now we can put it all together and create a variable to find the avg

In [93]:
n_pets = [len(student['pets']) for student in students if student['coffee_preference'] == 'light']

In [94]:
avg_n_pets_for_light_coffee = sum(n_pets)/ len(n_pets)

In [95]:
avg_n_pets_for_light_coffee

1.0